@model BW4.Models.Prodotto

@{
    ViewData["Title"] = "Dettagli Prodotto";
}

<h2>@Model.NomeProdotto</h2>

<img src="@Model.ImmagineDettagli" alt="@Model.NomeProdotto" />
<p>@Model.Descrizione</p>
<p>@Model.Prezzo.ToString("C")</p>

<form asp-action="Aggiungi" asp-controller="Carrello" method="post">
    <input type="hidden" name="prodottoId" value="@Model.ProdottoID" />
    <label for="quantita">Quantità:</label>
    <input type="number" id="quantita" name="quantita" min="1" max="@Model.QuantitaDisponibile" value="1" />
    <button type="submit">Aggiungi al carrello</button>
</form>
