<!DOCTYPE html>

@model IEnumerable<BW4.Models.Prodotto>

@{
    ViewData["Title"] = "Prodotti in vendita";
}

<h2>Prodotti in vendita</h2>

@foreach (var prodotto in Model)
{
    <div>
        <img src="@prodotto.ImmagineCoverHome" alt="@prodotto.NomeProdotto" />
        <h3>@prodotto.NomeProdotto</h3>
        <p>@prodotto.Prezzo.ToString("C")</p>
        <a asp-action="Details" asp-route-id="@prodotto.ProdottoID">Dettagli</a>
    </div>
}
